<form nz-form #validForm="ngForm" (ngSubmit)="submitForm()" nzLayout="horizontal">
  <!-- 模态框头部 -->
  <div class="modal-header">
    <div class="modal-title">
      <i nz-icon type="medicine-box" theme="fill"></i>
      <span *ngIf="entity.id">编辑</span>
      <span *ngIf="!entity.id">创建</span>
    </div>
  </div>
  <fieldset>
    <nz-form-item nz-row>
      <nz-form-label nzFor="imgUrl" nzSm="6" nzXs="24">封面图片</nz-form-label>
      <nz-form-control nzXs="24" nzSm="14">
        <input nz-input [(ngModel)]="entity.imgUrl" id="imgUrl" name="imgUrl" #imgUrl="ngModel" placeholder="请输入首页图片">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row>
      <nz-form-label nzFor="name" nzSm="6" nzXs="24" nzRequired>书籍名称</nz-form-label>
      <nz-form-control nzXs="24" nzSm="14" nzHasFeedback>
        <input nz-input [(ngModel)]="entity.name" id="name" name="name" #name="ngModel" placeholder="书籍名称">
        <nz-form-explain *ngIf="(name.control.dirty || name.control.touched) && name.control.errors">
          <ng-container *ngIf="name.control.hasError('required')">文本框内容不能为空</ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row>
      <nz-form-label nzFor="author" nzXs="24" nzSm="6" nzRequired>作者</nz-form-label>
      <nz-form-control nzSm="14" nzXs="24" nzHasFeedback>
        <input nz-input #author="ngModel" [(ngModel)]="entity.author" name="author" placeholder="请输入作者信息" required>
        <!-- 校验内容 -->
        <nz-form-explain *ngIf="(author.control.dirty || author.control.touched) && author.control.errors">
          <ng-container *ngIf="author.control.hasError('required')">文本框不能为空</ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row>
      <nz-form-label nzFor="intro" nzXs="24" nzSm="6">简介</nz-form-label>
      <nz-form-control nzSm="14" nzXs="24" nz-col nzHasFeedback>
        <input nz-input #intro="ngModel" [(ngModel)]="entity.intro" name="intro" placeholder="请输入简介">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-label nzFor="priceUrl" nzXs="24" nzSm="6">购买链接</nz-form-label>
      <nz-form-control nzSm="14" nzXs="24" nzHasFeedback>
        <input nz-input #priceUrl="ngModel" [(ngModel)]="entity.priceUrl" name="priceUrl" placeholder="购买链接">
      </nz-form-control>
    </nz-form-item>
  </fieldset>

  <div class="modal-footer">
    <button nzType="default" (click)="close()" nz-button [disabled]="saving">
      <i class="anticon anticon-close-circle-o"></i> {{l("Cancel")}}
    </button>
    <button (click)="submit" nzType="primary" type="submit" [nzLoading]="saving" [disabled]="!validForm.form.valid || saving"
      nz-button>
      <i class="anticon anticon-save" *ngIf="!saving"></i> {{l("Save")}}

    </button>

  </div>

</form>
